{% extends "battleships/base.html" %}

{% block content %}

    <form action="/battleships/new-game">
        <input type="submit" value="New game"/>
    </form>
    <table>
        <tr>
            <th>username</th>
            <th>status</th>
            <th>date</th>
            <th>action</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.firstPlayer }}</td>
                <td>{{ game.get_status }}</td>
                <td>{{ game.date }}</td>
                {% if game.status == 'o' %}
                    <td>
                        <form action="/battleships/join-game">
                            <input type="submit" value="Dolacz do gry"/>
                        </form>
                    </td>
                {% elif game.status == 'w' %}
                    <td>
                        <form action="/battleships/watch-game">
                            <input type="submit" value="Obserwuj"/>
                        </form>
                    </td>
                {% endif %}


            </tr>
        {% endfor %}
    </table>



{% endblock %}