#container {
    width: 960px;
    margin: 0 auto;
    background-color: gray;
}

#header {
    background-color: darkgrey;
}

#user-header {
    background-color: cadetblue;
    text-align: right;

}
#menu {
    float: left;
    width: 240px;
    background-color: darkcyan;
}

#block-content {
    float: left;
    width: 480px;
    background-color: darkseagreen;
}

#footer {
    clear: both;
    background-color: yellow;
}

#container h1 {
    text-align: center;
}